<div class="d-flex justify-content-center" style="margin-top: 75px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Kayıt Sayfası</h1>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                    <div class="form-group">
                        <label for="name">Ad Soyad</label>
                        <input 
                        class="form-control" 
                        type="text" 
                        [(ngModel)]="model.name" 
                        name="name" 
                        id="name" 
                        #name 
                        [appValid]="name.validity.valid" 
                        required 
                        minlength="3">
                        <div class="invalid-feedback">
                            Ad Soyad en az 3 karakter olmalı!!
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Mail</label>
                        <input class="form-control" type="email" [(ngModel)]="model.email" name="email" id="email" required email minlength="3" #email [appValid]="email.validity.valid">
                        <div class="invalid-feedback">Geçerli bir mail adresi girin</div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Şifre</label>
                        <input  class="form-control" type="password" [(ngModel)]="model.password" name="password" id="password" required #password [appValid]="password.validity.valid">
                        <div class="invalid-feedback">
                            Şifre alanı boş olamaz!
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-outline-primary w-100">Kayıt Ol</button>
                        <a routerLink="/login" style="float: right;">Giriş Yap</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>